# 分析文件
*.dart
!lib/**/*.dart

# IDE 文件
.vscode/
.idea/
*.iml

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Linux
*~

# 临时文件
*.tmp
*.temp